{
    "statements": 90,
    "branches": 75,
    "functions": 100,
    "lines": 90,
 "reporter": [
    "json",
    "text-summary"
  ],
  "exclude": [
    "coverage/**",
    "docs/**",
    "test{,s}/**",
    "test{,-*}.{js,cjs,mjs,ts}",
    "lib/browser/**",
    "package-scripts.js",
    "scripts/**"
  ],
  "check-coverage": true
}